<div class="p-4 bg-gray-100 min-h-screen">
    <p class="text-lg font-semibold mb-4">Your Conversations </p>
  
    <!-- Afficher uniquement les conversations avec un message -->
    <div *ngFor="let conv of conversations"  class="bg-white p-4 rounded-lg shadow-md mb-4 flex items-center space-x-4 hover:bg-gray-50 transition" 
    >
      <!-- Avatar des participants -->
       <div *ngIf="conv.participants[1]._id!=user.id">

           <button  routerLink="/dashboard/conversation/{{ conv.participants[1]._id }}">
    
               <div class="flex-shrink-0" >
                   <div class="w-12 h-12 rounded-full bg-blue-500 text-white flex items-center justify-center font-bold">
                     {{ conv.participants[1].nom.charAt(0) }}{{ conv.participants[1].prenom.charAt(0) }}
                   </div>
               </div>
           </button>
       </div>
       <div *ngIf="conv.participants[0]._id!=user.id">

        <button  routerLink="/dashboard/conversation/{{ conv.participants[0]._id }}">
 
            <div class="flex-shrink-0 "  >
                <div class="w-12 h-12 rounded-full bg-blue-500 text-white flex items-center justify-center font-bold">
                  {{ conv.participants[0].nom.charAt(0) }}{{ conv.participants[0].prenom.charAt(0) }}
                </div>
            </div>
        </button>
    </div>

       
  
      <!-- Infos sur la conversation -->
      <div class="flex-1" >
        <h4 class="text-gray-800 font-medium" *ngIf="conv.participants[1]._id!=user.id">
          {{ conv.participants[1].nom }} {{ conv.participants[1].prenom }}
        </h4>
        <h4 class="text-gray-800 font-medium" *ngIf="conv.participants[0]._id!=user.id">
            {{ conv.participants[0].nom }} {{ conv.participants[0].prenom }}
          </h4>
        <p class="text-sm text-gray-500 truncate">{{ conv.lastMessage }}</p>
      </div>
  
      <!-- Date de la dernière mise à jour -->
      <div class="text-xs text-gray-400">
        {{ conv.updatedAt | date: 'short' }}
      </div >
      <div class="w-12 h-12 rounded-full bg-red-500 text-white flex items-center justify-center font-bold">
       <button (click)="deleteConversation(conv._id)">
            delete
       </button>
      </div>
    </div>
  </div>
  