/* Custom styles for the admin dashboard */

  
  /* h2, h1 {
    font-family: 'Helvetica', sans-serif;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    background-color: #4a90e2;
  }
   */